@tailwind base;
@tailwind components;
@tailwind utilities;

.elips-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.elips-text.l2 {
    -webkit-line-clamp: 2;
}
.elips-text.l3 {
    -webkit-line-clamp: 3;
}
.elips-text.l4 {
    -webkit-line-clamp: 4;
}

.header-container{
        background-size: 100% 100%;
        background-size: bottom;
        background-position: contain;
}

.logo-wraper{
    clip-path: polygon(0 0, 80% 0%, 100% 60%, 0% 100%);
    /* -webkit-clip-path: polygon(0 0, 0, 83%, 100% 100%, 0% 100%); */
}



.rec.rec-arrow, .rec.rec-arrow a{
    position:absolute;
    z-index: 20;
    box-shadow: none !important;
    background-color: rgba(0, 0, 0, 0.2) !important;
    font-size: 2.3rem !important;
    color:#fff !important;
    /* width: 30px !important;
    max-width: 30px !important;
    height: 30px !important;
    line-height: 30px !important; 
    border-radius: 0 !important;*/
}
.rec.rec-arrow-right{
    right:.5rem !important;
}
.rec.rec-arrow-left{
    left:.5rem !important;
}

.sc-eCYdqJ.eLPooy.rec.rec-carousel{
    margin: 0 !important;
    padding: 0 !important;
}


img{
    width:100%;
    height:100%;
}


.custom-shape-divider-top-1640907434 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1640907434 svg {
    position: relative;
    display: block;
    width: calc(150% + 2.3px);
    height: 50px;
    /* transform: rotate(180deg); */
}

.custom-shape-divider-top-1640907434 .shape-fill {
    fill: #fff;
}
